mat-card {
  &.mauvais-etat {
    background-color: crimson;
  }
  mat-card-subtitle {
    .code {
      font-style: italic;
    }
    .etiquette {
      padding: 5px;
      border-radius: 5px;
      background-color: #224bf1;
      margin-left: 5px;
    }
  }
  .header-card {
    padding: 20px;
  }
}
