.bienvenue {
  font-family: "Verdana-Bold", Helvetica, serif;
  font-weight: 700;
  color: #ff6616;
  font-size: 50px;
  text-align:center;
  border:1px solid black;
}


.logo{
  display: flex;
  width: 266px;
  height: 100px;
  top: 380px;
  left: 410px;
  border: 1px solid black;
}

html, body { height: 100%; background-color: #2e3b6e; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; padding: 40px; }
