<div class="maquette-login">
  <div class="div">
    <img class="logo" src="assets/images/logo.png" alt="logo"/>
    <div class="bienvenue">Bienvenue !</div>
    <div class="overlap">
      <div class="text-wrapper">Se connecter</div>
      <div class="login">
        <div class="text-wrapper-2">Mail</div>
        <div class="text-wrapper-3">Password</div>
        <div class="text-wrapper-4">Mot de passe oublié</div>
        <div class="rectangle"></div>
        <div class="rectangle-2"></div>
      </div>
      <div class="group">
        <div class="overlap-group">
          <div class="text-wrapper-5">Valider</div>
        </div>
      </div>
      <div class="overlap-wrapper">
        <div class="overlap-group">
          <div class="text-wrapper-6">Admin</div>
        </div>
      </div>
    </div>
    <p class="p">Pas encore inscrit ? Cliquez ici !</p>
    <div class="group-2">
      <div class="text-wrapper-8">A propos</div>
      <div class="text-wrapper-9">Conditions générales</div>
      <div class="text-wrapper-10">FAQ</div>
      <div class="text-wrapper-11">Informations légales</div>
      <div class="text-wrapper-12">Confidentialité</div>
      <div class="text-wrapper-13">Nous contacter</div>
      <div class="text-wrapper-14">© 2025 Copyright LOCMNS</div>
    </div>
  </div>
</div>
